
<h1>App Album</h1>

<div>
    <p>View album</p>
    Id Album: <input type="text" name="id" value="{{ objAlbum.id }}">
    Title Album: <input type="text" name="id" value="{{ objAlbum.title }}">
    <button type="button">Save</button>
</div>

<p>Album list</p>

<table>
    <tr>
        <th>Id</th>
        <th>Title</th>
    </tr>
    <tr *ngFor="let album of albums">
        <td>{{ album.id }}</td>
        <td>{{ album.title }}</td>
        <td><button type="button" (click)="getAlbum(album.id)">View</button></td>
        <td><button type="button" (click)="updateAlbum(album)">Edit</button></td>
        <td><button type="button" (click)="deleteAlbum(album.id)">Delete</button></td>
    </tr>
</table>